.btn-primary a {
  text-decoration: none;
  color: white;
}

.btn-primary a:after {
  text-decoration: none;
  color: red;
}

.btn-primary {
  margin: 3px;
  float: left;
}

.card {
  margin: 5px;
}

.Fehlermeldung {
  color: #FF0000;
}
.btnComment{
  margin-top: 10px;
}


.btn-danger a {
  text-decoration: none;
  color: white;
}
